<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"default"}} --><main class="wp-block-group"><!-- wp:pattern {"slug":"ozeki-corporate/hero"} /--><!-- wp:pattern {"slug":"ozeki-corporate/introduction"} /--><!-- wp:pattern {"slug":"ozeki-corporate/services"} /--><!-- wp:pattern {"slug":"ozeki-corporate/latest-news"} /--><!-- wp:pattern {"slug":"ozeki-corporate/call-to-action"} /--></main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
